page-profile {
  .background-image {
        background-image: url(https://scontent.fmaa1-1.fna.fbcdn.net/v/t31.0-8/10560337_435909603217636_6616425518403483625_o.jpg?oh=e03675b2714fa2d22a79e18ffb1bb579&oe=599B43FB);
        background-size: cover;
        background-position: center;
        height: 50vw;
        width: 50vw;
        border-radius:50%;
        display: block;
        margin: 0 auto;
        margin-top:5px;
    }
    
    .profile_name{
      text-align:center;
    }

    .main-content {
        padding: 20px;
        background-color: white;
        position: absolute;
    }
    .profile-para{
        visibility:hidden;
    }
}
